@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
html {
  font-size: 62.5%;
}

.landpage {
  background-image: url("./images/luke-chesser-pJadQetzTkI-unsplash.jpg");
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.video {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
body {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  background-color: #f6faff;
}

* {
  margin: 0;
  padding: 0;
}

/* navbar */
.container-topnav {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(
      6rem,
      1fr
    );
  grid-row-gap: 1.6rem;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Josefin Sans", sans-serif;
}
.container-topnav-mobile {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Josefin Sans", sans-serif;
}


.social-icons {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  align-items: center;
}

.social-icon-item {
  font-size: 1.8rem;
  color: #12376e;
  transition: all 0.2s;
}

.social-icon-item:hover {
  color: #34598f;
  transform: rotateZ(360deg);
}

.first-nav {
  grid-column: 6 / 10;
  grid-row: 1 / 2; 

}
.first-nav-mobile {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;

}
.first-nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}

.first-nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #12376e;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.first-nav-link-mobile {
  text-decoration: none;
  font-size: 1.6rem;
  color: #12376e;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.first-nav-link::after {
  content: "";
  width: 0;
  height: 0.1rem;
  background-color: #12376e;
  display: block;
  margin: auto;
  transition: width 0.2s cubic-bezier(0.55, 0, 0.98, 0.54);
}

.first-nav-link:hover::after {
  width: 100%;
}

.first-nav-link span {
  font-size: 1.3rem;
  color: #34598f;
}

.first-nav-link i {
  font-size: 1.3rem;
  margin-right: 0.3rem;
}

.second-nav {
  display: flex;
  margin: 5rem;
  border-top: 0.1rem solid #12376e;
  border-bottom: 0.1rem solid #12376e;
  justify-content: space-between;
  /*   padding-left: 5rem;
  padding-right: 5rem; */
}

.second-nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.second-nav-link {
  text-align: center;
  display: grid;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  color: #12376e;
  padding: 0.8rem 0;
  transition: all 0.5s 0.3s;
  padding-left: 3rem;
  padding-right: 3rem;
}

.second-nav-item:hover .second-nav-link {
  background-color: #12376e;
  color: #fff;
}

.second-nav-link::before,
.second-nav-link::after {
  content: "";
  width: 0;
  height: 0.1rem;
  background-color: #12376e;
  display: block;
  transition: width 0.3s cubic-bezier(0.55, 0, 0.98, 0.54),
    background-color 0.5s 0.3s;
}

.second-nav-link::after {
  justify-self: end;
}

.second-nav-item:hover .second-nav-link::before,
.second-nav-item:hover .second-nav-link::after {
  width: 100%;
  background-color: #fff;
}

.second-nav-item:first-child {
  position: relative;
}

/* end of navbar */

.form-popup {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.FormButtons {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.FormInput {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.alertRegistern {
  width: 50%;
  margin: auto;
}
.FormHeadLine {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.formButton {
  background-color: transparent;
  border: none;
  color: black;
}

.LandPage-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .LandPage-container {
    flex-direction: column;
  }
  .box {
    width: 100% !important;
    margin-right: 20px !important;
    margin-left: 10px !important;
  }
}

.box {
  margin: 10px;
  margin-top: 100px;
  height: 400px;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.2s ease-in-out;
}
.box:hover {
  transform: scale(1.1);
}

.box1 {
  background-image: url("./images/mike-petrucci-c9FQyqIECds-unsplash.jpg");
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.box2 {
  color: white;
  background-image: url("./images/pexels-cottonbro-4068314.jpg");
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.banner {
  display: flex;
  flex-direction: column;
}
.banner-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 0;
  animation: anim 2s;
  align-self: center;
  justify-self: center;
}

.banner-paragraph {
  font-size: 2rem;
  font-weight: 300;
  animation: anim 1.5s 0.5s backwards;
  align-self: center;
  justify-self: center;
}
.banner-Buttons {
  position: absolute;
  bottom: 0;
  align-self: center;
  justify-self: center;
  animation: anim 1.5s 0.9s backwards;
}
.bannerButton {
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* bestselling furniture */
.bestselling-furniture {
  grid-column: 2 / 10;
  grid-row: 6 / 7;
}

.bestselling-furniture-header {
  font-size: 4.5rem;
  color: #23487f;
  text-align: center;
  margin: 3rem 0;
}

.bestselling-furniture-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6.4rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}
@media (max-width: 500px){
  .bestselling-furniture-cards{
    margin-left: o;
    margin-right: 0;
    grid-gap: 0;

  }
}
.bestselling-furniture-card {
  background-color: #efefef;
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.3);
  max-width: 30rem;
}

.bestselling-furniture-img {
  width: 100%;
  height: 30rem;
  object-fit: contain;
  border-radius: 0.3rem 0.3rem 0 0;
}

.bestselling-furniture-heading {
  background-color: #fffddd;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.8rem;
  font-weight: lighter;
  color: #458a9f;
  padding: 0.5rem 0;
  border-radius: 0.2rem;
  transform: translateY(-50%);
}

.bestselling-furniture-paragraph {
  font-size: 1.9rem;
  color: #23487f;
  text-align: center;
  margin-bottom: 1.6rem;
}

.bestselling-furniture-btn {
  width: 100%;
  padding: 1.6rem 0;
  background-color: #12376e;
  font-size: 1.9rem;
  color: #fff;
  border: none;
  border-radius: 0 0 0.3rem 0.3rem;
}

.bestselling-furniture-btn:hover {
  background-color: #23487f;
}
/* end of  */

/* banner */
.banner {
  grid-column: 2 / 10;
  grid-row: 4 / 5;
  position: relative;
  margin-right: 5rem;
  margin-left: 5rem;
  height: 400px;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 5rem;

  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  z-index: 50;
}

.slideshow {
  height: 100%;
  overflow: hidden;
}

.slideshow-wrapper {
  display: flex;
  width: 400%;
  height: 100%;
  position: relative;
  animation: slideshow 20s infinite;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes slideshow {
  0% {
    left: 0;
  }

  10% {
    left: 0;
  }

  15% {
    left: -100%;
  }

  25% {
    left: -100%;
  }

  30% {
    left: -200%;
  }

  40% {
    left: -200%;
  }

  45% {
    left: -300%;
  }

  55% {
    left: -300%;
  }

  60% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -100%;
  }

  85% {
    left: -100%;
  }

  90% {
    left: 0;
  }
}

.slide-btn {
  width: 1.3rem;
  height: 1.3rem;
  background-color: #bbb;
  border: 0.2rem solid #d38800;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 95%;
  transform: translateX(-50%);
  z-index: 10;
}

.slide-btn:focus {
  background-color: #12376e;
}

.slide-btn-1 {
  left: 47%;
}

.slide-btn-2 {
  left: 49%;
}

.slide-btn-3 {
  left: 51%;
}

.slide-btn-4 {
  left: 53%;
}

.slide-btn-1:focus ~ .slideshow-wrapper {
  animation: none;
  left: 0;
}

.slide-btn-2:focus ~ .slideshow-wrapper {
  animation: none;
  left: -100%;
}

.slide-btn-3:focus ~ .slideshow-wrapper {
  animation: none;
  left: -200%;
}

.slide-btn-4:focus ~ .slideshow-wrapper {
  animation: none;
  left: -300%;
}
/* end of banner */

/* middle home page*/

.middleContainer {
  margin-top: 3rem;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
  height: 300px;
}

.middle-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Nanum Gothic", sans-serif;
  height: 100%;
}
@media (max-width: 500px) {
  .middleContainer {
    margin-top: 3rem;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin-bottom: 5rem;
  }

  .middle-grid {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Nanum Gothic", sans-serif;
    height: 100%;
  }
  .middle-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .pargh2 {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 30px;
    justify-self: center;
  }

  .pic-ctn {
    position: absolute;
    width: 10rem;
    height: 50px;
  }
}

.pargh {
  justify-self: center;
  align-self: center;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.pargh2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;
}
.p-left {
  align-self: center;
  justify-content: center;
}
.middleBtn {
  border: 1px solid black;
  padding: 2rem 3rem 2rem 3rem;
  background: transparent;
  border-radius: 1px;
}
.middleBtn:hover {
  background-color: transparent !important;
}

.pic-ctn {
  width: 30vw;
  object-fit: cover;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  max-height: 10px;
  object-fit: cover;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;
  object-fit: cover;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}
.badge {
  position: relative;
  right: 6px;
  bottom: 8px;
  padding: 2.5px 5px;
  border-radius: 50%;
  color: white !important;
  font-size: 10px !important;
  z-index: 2;
  background-color: red;
  transition: all 0.5s ease-out;
  animation: popup 0.7s;
}

@keyframes popup {
  0% {
    transform: scale(1);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.4;
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.a-box {
  display: inline-block;
  width: 240px;
  text-align: center;
}

.img-container {
  height: 230px;
  width: 200px;
  overflow: hidden;
  display: inline-block;
}

.img-container img {
  transform: skew(0deg, -13deg);
  margin: -35px 0px 0px 0px;
}

.inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 200px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

.SecondMidlleHome {
  display: flex;
  flex-direction: row;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 7rem;
  margin-right: 7rem;
}

@media (max-width: 500px) {
  .SecondMidlleHome {
    flex-direction: column;
  }
  .contianerCheckOut{
    margin-left: 0rem !important;
    margin-right: 0rem;
    width: 100%;
  }
}
.OrderModal{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* .modal-body {
  background-color: #fff;
  border-color: #fff;
} */
.modal-content{
  position: absolute;
  top:0
}
.modal {
  position: absolute;
  top: 10px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;

}

.close {
  color: #000;
  cursor: pointer
}

.close:hover {
  color: #000
}

.theme-color {
  color: #004cb9
}

hr.new1 {
  border-top: 2px dashed #fff;
  margin: 0.4rem 0
}
.modalButton{ 
  background-color: transparent !important;
outline: none !important;
padding: 0;
border: 0;
vertical-align: baseline;
}


.loadingBar {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  opacity: 1;
  display: flex;
  flex-direction: row;
}

.ball1 {
  display: inline;
  height: 10px;
  width: 10px;
  background-color: rgb(165, 165, 247);
  border-radius: 50%;
  margin: 1px;
  animation: loading 0.5s ease-in infinite;
}
.ball2 {
  display: inline;
  height: 10px;
  width: 10px;
  background-color: rgb(131, 131, 221);
  border-radius: 50%;
  margin: 1px;
  animation: loading 0.5s ease-in infinite;
  animation-delay: 0.1s;
}
.ball3 {
  display: inline;
  height: 10px;
  width: 10px;
  background-color: rgb(92, 92, 175);
  border-radius: 50%;
  margin: 1px;
  animation: loading 0.5s ease-in infinite;
  animation-delay: 0.2s;
}
.btnNoStyle{
  background-color: transparent !important;
  padding: 0 !important;
  border: transparent !important;
  font-size: 15px;
}

@keyframes loading {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

.AdminMenu{
  display: flex;
  background-color: #04bcff;
}
.AdminButtons{
  justify-content: space-between;
}

.adminTable{
  margin-right: 10rem;
  margin-left: 10rem;
margin-top: 5rem;

}
.addItemAdmin{
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 10rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.additemform{
  margin-left: 1px !important;
  margin-right: 1px !important;
}
.editProductKey{
  display:inline;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: #386eb9;
  border: transparent;
 padding: 1rem;
  top: 0px;
  right: 0px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
}

.editIcon{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}